@font-face {
  font-family: "iconfont"; /* Project id 4676971 */
  src: url('iconfont.woff2?t=1725868102855') format('woff2'),
       url('iconfont.woff?t=1725868102855') format('woff'),
       url('iconfont.ttf?t=1725868102855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daorutupian:before {
  content: "\e667";
}

.icon-jiacu:before {
  content: "\e613";
}

.icon-shanchuxian:before {
  content: "\e6d4";
}

.icon-fuhao-xiahuaxian:before {
  content: "\e71d";
}

.icon-xieti:before {
  content: "\e614";
}

.icon-juzhongduiqi:before {
  content: "\e6c2";
}

.icon-zuoduiqi:before {
  content: "\e6c3";
}

.icon-youduiqi:before {
  content: "\e6c4";
}

.icon-shupaiwenben:before {
  content: "\e6f7";
}

.icon-liangduanduiqi:before {
  content: "\e6e8";
}

.icon-ok:before {
  content: "\e63c";
}

.icon-shuangjiantou2:before {
  content: "\e600";
}

.icon-juxing:before {
  content: "\e636";
}

.icon-arrow-down:before {
  content: "\e714";
}

.icon-shanchu:before {
  content: "\e852";
}

.icon-star:before {
  content: "\e9a1";
}

.icon-shangchuantupian1:before {
  content: "\e638";
}

.icon-hexagon:before {
  content: "\e604";
}

.icon-pentagon:before {
  content: "\e605";
}

.icon-sanjiaoxing:before {
  content: "\e624";
}

.icon-markv-copy:before {
  content: "\ec0a";
}

.icon-case:before {
  content: "\e6c5";
}

.icon-shuipingfanzhuanchuizhifanzhuanchuizhifanzhuanchuizhifanzhuan:before {
  content: "\e75b";
}

.icon-shuipingfanzhuanchuizhifanzhuanchuizhifanzhuanchuizhifanzhuan1:before {
  content: "\e61d";
}

.icon-yuanxing:before {
  content: "\e626";
}

.icon-clear:before {
  content: "\e625";
}

.icon-xianduan-zhixian:before {
  content: "\e69b";
}

.icon-shuangjiantou1:before {
  content: "\e602";
}

.icon-quxian:before {
  content: "\e73a";
}

.icon-caotuxianduanchangduyueshu:before {
  content: "\e60c";
}

.icon-xianduan:before {
  content: "\e83a";
}

.icon-xiazaitupian:before {
  content: "\e738";
}

.icon-huaduobianxing:before {
  content: "\e603";
}

.icon-wenzi-L:before {
  content: "\e616";
}

